<form action="/dogs" method="post">
  <p>Breed: <input type="text" name="breed">
  <p>Name: <input type="text" name="name">
  <p>Image: <input type="text" name="image_url">
  <p>age: <input type="text" name="age">
  <input type="submit">
</form>